<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'weather/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
    <div class="title">
        <h1>Weather App</h1>
    </div>
    <div class="card">
        <form id = "weather_form">
        <div class="search">
            <input type="text" placeholder="Enter city" id="city-search" />
            <button id="search-button">Search</button>
        </div>
    </form>
        <div class="weather-details" style="display: none;">
            <div class="city"></div>
            <div class="weather">
                <h1 class="temp"></h1>
                <h2 class="description"></h2>
            </div>
            <img class="weather-icon" src="" alt="Weather icon">
            <div class="details">
                <div class="col">
                    <span class="humidity"></span>
                </div>
                <div class="col">
                    <span class="wind"></span>
                </div>
                <div class="col">
                    <span class="pressure"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>